<a href="https://colab.research.google.com/github/RudreshKumarP/Python-ExcelR/blob/main/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. Write a Python program to get the volume of a sphere with radius 6.**

In [1]:
pi=3.14159
r=6.0
v=4.0/3.0*pi*r**3

print('The volume of the sphere is :',v)

The volume of the sphere is : 904.7779199999999

**2. Write a Python program to calculate the sum of three given numbers, if the values are equal then return three times of their sum hint: write User defined functions**

In [3]:
def sum_thrice(x, y, z):
  sum = x + y + z

  if x == y == z:
    sum = sum * 3
    return sum

print(sum_thrice(5,5,5))

45

**3. Write a Python program to count the number 4 in a given list.**

In [19]:
List = [1,4,6,8,4,9,4]
Search = 4

In [23]:
def searchOccurance(List, number):
  count = 0
  for i in List:
    if(i == number):
      count+=1
  return count

result = searchOccurance(List, Search)

print('count is : ', result)

count is :  3

**4. Write a Python program to print all even numbers from a given numbers list in the same order and stop the printing if any numbers that come after 237 in the sequence. Go to the editorSample numbers list**

In [27]:
number = [399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,

815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,

958,743, 527]

In [30]:
for x in number:
  if x == 237:
    print(x)
    break;
  elif x % 2 == 0:
    print(x)

162
758
918
237

**5. Write a Python program to find those numbers which are divisible by 7 and multiple of 5, between 1500 and 2700 (both included)**

In [31]:
u_lim = 2700
l_lim = 1500

for i in range(l_lim,u_lim):
  if i%7 == 0 and i%5 == 0:
    print(i)

1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695

**6. Write a Python program that prints all the numbers from 0 to 6 except 3 and 6**

In [51]:
for i in range(7):
  if(i==3 or i == 6):
    continue
  print(i)

0
1
2
4
5

**7. Write a Python program to get the Fibonacci series between 0 to 50.**

In [53]:
x=0
y=1
z=0
while z<=50:
  print(z)
  x=y
  y=z
  z=x+y

0
1
1
2
3
5
8
13
21
34

**8. Write a Python function that takes a list and returns a new list with unique elements of the first list**

In [54]:
List = [1,2,3,3,3,3,4,5]
Unique_List =[]

for a in List:
  if a not in Unique_List:
    Unique_List.append(a)
print(Unique_List)

[1, 2, 3, 4, 5]